{% extends 'base.html' %}
{% block html_body %}
    <link rel="stylesheet" href="/static/css/pages/account.css">
    <link rel="stylesheet" href="/static/css/pages/login.css">


     <!-- logo
    ================================================== -->
    <header>
        <div class="container">
            <div class="navbar-header">
                <a class="brand-logo" href="{% url 'home' %}">My Pet</a>
            </div>
        </div>
    </header>
    <!--/logo-->


     <!-- account_box
    ================================================== -->
    <div id="account_box">
        <div class="welcome-header">
{#            <h1 class="welcome-header__title">Welcome</h1>#}
            <h1 class="welcome-header__title">We are glad to see you here!</h1>
            <p class="welcome-header__text">Let’s set up your account!</p>
        </div>

        <form method="post" class="login-form">
            {% csrf_token %}
            <input name="user_name" type="text" placeholder="ID" />
            <input name="password1" type="password" placeholder="Password" />
            <input name="password2" type="password" placeholder="Password Check" />
            <input name="email" type="email" placeholder="E-Mail" />
            <input type="submit" value="Sign Up" />
{#            <a href="#">Find My Pet Account or Password</a>#}
        </form>
    </div>
    <!--/account_box-->

{% endblock %}