{% extends 'base.html' %}
{% block html_body %}
    <link rel="stylesheet" href="/static/css/pages/header.css">
    <link rel="stylesheet" href="/static/css/pages/board.css">

    <!-- Header
    ================================================== -->
    <header id="column-header">
        <div id="nino-headerInner">
            <nav id="nino-navbar" class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nino-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">My Pet</a>
                    </div>
                    <div class="nino-menuItem pull-right">
                        <div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
                            <ul class="nav navbar-nav">
{#                                <li><a href="{% url 'home' %}">Home</a>#}
{#                                </li>#}
                                <li class="active"><a href="#" onclick="testa('{% url 'community:tips' %}')">Tips<span class="sr-only">(current)</span></a></li>
                                <li><a href="#" onclick="testa('{% url 'community:qna' %}')">QnA</a></li>
                                <li><a href="#" onclick="testa('{% url 'community:board' %}')">Board</a></li>
                                <li><a href="#" onclick="testa('{% url 'community:hospital' %}')">Hospital</a></li>
                                <li><a href="#" onclick="testa('{% url 'community:shelter' %}')">Shelter</a></li>
                            </ul>
                        </div>
                        <ul class="nino-iconsGroup nav navbar-nav">
                            {% if user.is_authenticated %}
                                <li><a href="#" onclick="testa('{% url 'community:logout' %}')"><i class="mdi fas fa-user-slash nino-icon"></i></a></li>
                            {% else %}
                                <li><a href="#" onclick="testa('{% url 'community:login' %}')"><i class="mdi far fa-user nino-icon"></i></a></li>
                            {% endif %}
                            <li><a href="#" class="nino-search"><i class="mdi mdi-magnify nino-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>
    <!--/#header-->

       <!-- Title
    ================================================== -->
    <div class="container board-title">
{#        <img src="/static/images/tips/cat.png">#}
        <h1 class="title-h1">TIPS</h1>
{#        <img src="/static/images/tips/dog.png">#}
    </div>
    <!--/#Title-->

     <!-- content
    ================================================== -->
    <div class="container">
        <div class="tips-page tips-table">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Like</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">no</th>
                    <td><a class="tips-a" href="#">title</a></td>
                    <td>author</td>
                    <td>content</td>
                    <td>123</td>
                    <td>123</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/#content-->

{% endblock %}